@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

.table-row-light {
  background-color: #f9f9f9;
}

.table-row-dark {
  background-color: #fff;
}


